includes:
    - ./phpstan-baseline.neon

parameters:

    paths:
         - ../{{APP_PATH}}
         - ../{{PACKAGES_PATH}}
         - ../{{SHARED_PACKAGES_PATH}}

    excludePaths:
        - ../{{APP_PATH}}/vendor

    # Level 9 is the highest level
    level: 5
